<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>
<body>
    <div class="container">
        <div class="card p-2 row">
            <div class="card-header">
                Filter
            </div> <br>
            <div class = "row g-0">
                <div class="card" style="width: 250px;">
                    <div class="card-body">
                        <div class="col-lg-12 col-xs-12">
                            <label for="">Jenis Kendaraan</label>
                            <div>
                                <select style="width: 200px" id="jenis_kendaraan" name="jenis_kendaraan">
                                    <option selected="">Pilih Jenis Kendaraan</option>
                                    <option value="mobil">Mobil</option>
                                    <option value="sepeda_motor">Sepeda Motor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 250px;">
                    <div class="card-body">
                        <div class="col-lg-12 col-xs-12">
                            <label for="">Rentang Tanggal</label>
                            <div>
                                <input type="text" name="datetimes" id="datetimes"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 250px;">
                    <div class="card-body">
                        <div class="col-lg-12 col-xs-12">
                            <label for="">Harga Terendah</label>
                            <div>
                                <div class="form-group">
                                    <div>
                                        <input type="number" class="form-control" id="harga_terendah" value="null">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 250px;">
                    <div class="card-body">
                        <div class="col-lg-12 col-xs-12">
                            <label for="">Harga Tertinggi</label>
                            <div>
                                <div class="form-group">
                                    <div>
                                        <input type="number" class="form-control" id="harga_tertinggi" value="null">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Jenis Kendaraan</th>
                <th scope="col">Waktu Masuk</th>
                <th scope="col">Waktu Keluar</th>
                <th scope="col">Tagihan</th>
              </tr>
            </thead>
            <tbody>
                <% parking.forEach((parking, index) => { %>
                    <tr>
                        <th scope="row"> <%= index + 1 %></th>
                        <td> <%= parking.jenis_kendaraan %></td>
                        <td> <%= parking.waktu_masuk.toLocaleString('id-ID') %></td>
                        <td> <%= parking.waktu_keluar.toLocaleString('id-ID') %></td>
                        <td> <%= parking.tagihan %></td>
                    </tr>
                <% }) %>
            </tbody>
          </table>

    </div>
</body>
</html>

<script type="text/javascript">
   $(function() {
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            locale: {
                format: 'DD-MM-YYYY hh:mm'
            },
        });

        $('#jenis_kendaraan').on('change', function(ev, start, end) {
            var startDate = moment($('#datetimes').data('daterangepicker').startDate).toDate()
            var endDate = moment($('#datetimes').data('daterangepicker').endDate).toDate()
            var selected_item = $(ev.currentTarget).val();
            var minPrice = $('#harga_terendah').val()
            var maxPrice = $('#harga_tertinggi').val()

            if ($('#harga_terendah').val() == "") {
                var minPrice = null
            }
            if ($('#harga_tertinggi').val() == "") {
                var maxPrice = null
            }

            moment($("#datetimes").data('daterangepicker').setStartDate(startDate))
            moment($("#datetimes").data('daterangepicker').setEndDate(endDate))

            window.location = `/sort/${selected_item}/${startDate}/${endDate}/${minPrice}/${maxPrice}`

        });

        $('#datetimes').on('apply.daterangepicker', function(ev, picker) {
            var startDate = moment($('#datetimes').data('daterangepicker').startDate).toDate()
            var endDate = moment($('#datetimes').data('daterangepicker').endDate).toDate()
            var selected_item = $('select[name=jenis_kendaraan] option').filter(':selected').val()
            var minPrice = $('#harga_terendah').val()
            var maxPrice = $('#harga_tertinggi').val()

            if (selected_item == "Pilih Jenis Kendaraan") {
                selected_item = null
            }

            if ($('#harga_terendah').val() == "") {
                var minPrice = null
            }
            if ($('#harga_tertinggi').val() == "") {
                var maxPrice = null
            }

            window.location = `/sort/${selected_item}/${startDate}/${endDate}/${minPrice}/${maxPrice}`
            
        });

    });

    $('#harga_terendah').keypress(function (e) {
        if (e.which == 13) {
            var startDate = moment($('#datetimes').data('daterangepicker').startDate).toDate()
            var endDate = moment($('#datetimes').data('daterangepicker').endDate).toDate()
            var selected_item = $('select[name=jenis_kendaraan] option').filter(':selected').val()
            var minPrice = $('#harga_terendah').val()
            var maxPrice = $('#harga_tertinggi').val()

            if (selected_item == "Pilih Jenis Kendaraan") {
                selected_item = null
            }
            if ($('#harga_terendah').val() == "") {
                var minPrice = null
            }
            if ($('#harga_tertinggi').val() == "") {
                var maxPrice = null
            }
            window.location = `/sort/${selected_item}/${startDate}/${endDate}/${minPrice}/${maxPrice}`
            return false;
        }
  });

    $('#harga_tertinggi').keypress(function (e) {
        if (e.which == 13) {
            var startDate = moment($('#datetimes').data('daterangepicker').startDate).toDate()
            var endDate = moment($('#datetimes').data('daterangepicker').endDate).toDate()
            var selected_item = $('select[name=jenis_kendaraan] option').filter(':selected').val()
            var minPrice = $('#harga_terendah').val()
            var maxPrice = $('#harga_tertinggi').val()

            if (selected_item == "Pilih Jenis Kendaraan") {
                selected_item = null
            }
            if ($('#harga_terendah').val() == "") {
                var minPrice = null
            }
            if ($('#harga_tertinggi').val() == "") {
                var maxPrice = null
            }
            alert($('#harga_tertinggi').val()) 
            window.location = `/sort/${selected_item}/${startDate}/${endDate}/${minPrice}/${maxPrice}`
            return false;
        }
  });


</script>