<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Sistem Parkir</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="col-6">
                <div class="card ">
                    <div class="card-header">
                      Menu
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col -4">
                                <a href="tambah_data"> <button class="btn btn-primary"> Tambah Data </button> </a>
                            </div>
                            <div class="col -4">
                                <a href="show_data"> <button class="btn btn-primary"> Lihat Data </button> </a>

                            </div>
                        </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</body>
</html>