<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
  <body>
    <form action="/add_parking" method="POST">
        <div class="container">
            <div class="col-sm-6">
                <div class="mb-12 row">
                    <label for="" class="col-sm-4 col-form-label">Jenis Kendaraan</label>
                    <div class="col-sm-8">
                        <div class="form-check form-check-inline">
                            <input checked class="form-check-input" type="radio" name="jenis_kendaraan" id="inlineRadio1" value="sepeda_motor">
                            <label class="form-check-label" for="inlineRadio1">Sepeda Motor</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="jenis_kendaraan" id="inlineRadio2" value="mobil">
                            <label class="form-check-label" for="inlineRadio2">Mobil</label>
                        </div>
                    </div>
                </div>
                <div class="mb-12 row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Waktu Masuk</label>
                    <div class="col-sm-8">
                        <input required type="text" name="waktu_masuk" id="datetime" placeholder="Choose Date and Time" />
                    </div>
                </div>
                <div class="mb-12 row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Waktu Keluar</label>
                    <div class="col-sm-8">
                        <input required type="text" name="waktu_keluar" id="datetime" placeholder="Choose Date and Time" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
  </body>
</html>



<% if (isFalse) { %>
    <script>
     alert("waktu masuk tidak boleh melebihi waktu keluar!!!")
   </script>
<% } %>

<script>
    flatpickr("#datetime", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });
    
    
</script>